body {
    margin: 0;
}

nav {
    background-color: black;
    display: flex;
    justify-content: right;
}

nav a {
    color: white;
}

nav a:link {
    text-decoration: none;
    border-left: 2px solid white;
    padding: 25px 25px 22px 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

nav a:hover {
    background-color: #bb44f0;
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
} 

footer {
    background-color: black;
    display: flex;
    justify-content: center;
}

footer a:link {
    text-decoration: none;
    border-right: 2px solid white;
    border-left: 2px solid white;
    padding: 25px 25px 16px 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

footer a {
    color: white;
}

footer a:hover {
    background-color: #bb44f0;
    text-decoration: underline;
}

.about-me {
    background-color: #ADD8E6;
    padding: 100px 100px;
}

.information {
    background-color: #ADD8E6;
    padding-bottom: 10px;
}

.information img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px 100px 100px 100px;
}

p {
    text-align: center;
    font-size: 22px;
    color: #03045e;
}

.information a {
    color: blue;
    text-decoration: none;
    position: relative;
}

.information a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: black;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .4s linear;
}
  
.information a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.information a:hover {
    color: black;
}

#seperator {
    padding: 80px;
}

hr {
    border: 5px dashed blueviolet;
    position: relative;
    width: 20%;
}

h1 {
    font-family: Georgia;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    color:#03045e;
}

h2 {
    font-family: sans-serif;
    text-align: center;
    color:#03045e;
}

.about-me img {
       border-radius: 30px 30px;
       mix-blend-mode: multiply;
}

#skyline {
    position: absolute;
    top: 160px;
    left: 0px;
    width: 100%;
}

#computer {
    position: absolute;
    top: 75px;
    right: 50px;
    width: 390px;
}

#CB {
    position: absolute;
    left: 10px;
}

#CBF {
    position: absolute;
    right: 10px;
}

#medicine {
    position: absolute;
    top: 72px;
    left: 10px;
    width: 300px;
}

.card {
    box-shadow: 4px 4px 8px 0 black;
    transition: 0.5s;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card h3 {
    text-align: center;
    font-size: 30px;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    border-radius: 0 0 0 0;
}

.card:hover {
    box-shadow: 8px 8px 16px 0px black;
}

.languages {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-evenly;
}

.leadership {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.leadership dt {
    position: relative;
    left: 85px;
}

.leadership dd {
    position: relative;
    right: 65px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills dt {
    position: relative;
    left: 100px;
}

.skills dd {
    position: relative;
    right: 15px;
}

.one-col {
    display: flex;
    justify-content: center;
}

input[type=text], [type=email] {
    width: 80%;
    padding: 10px;
    margin: 10px;
}

input[type=submit] {
    padding: 10px;
    margin: 10px;
    width: 25%;
}

.contact {
    background-color: #ADD8E6;
}

.contact hr {
    position: relative;
    bottom: 55px;
}

.cards {
    box-shadow: 4px 4px 8px 0 black;
    transition: 0.5s;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.cards:hover {
    box-shadow: 8px 8px 16px 0px black;
}